@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/styling.css" />

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Username"] to the Ludo games</h1>
</div>


<div>
    <a asp-page="newGame" class="button">New Game</a>
    <a asp-page="ExistingGames" class="button">Play in existing game</a>
</div>
