.game {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    position: relative;
    width: 700px;
    height: 700px;
}
    .game * {
        border: 0;
        padding: 0;
        margin: 0;
        outline: 0;
        box-sizing: border-box;
    }

.green {
    background-color: green;
}

.red {
    background-color: red;
    border: none;
}

.yellow {
    background-color: #dde600;
    border: none;
}

.blue {
    background-color: blue;
    border: none;
}

.g-start {
    background-color: green;
}

.y-start {
    background-color: #dde600;
}

.r-start {
    background-color: red;
}

.b-start {
    background-color: blue;
}

.house {
    display: inline-block;
    position: absolute;
    width: 40%;
    height: 40%;
    padding: 7%;
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20%;
}

    .box div {
        border-radius: 50%;
    }

.basePawn {
    position: absolute;
    width: 25%;
    height: 25%;
}

.pawn1 {
    top: 20%;
    left: 20%;
}

.pawn2 {
    top: 20%;
    right: 20%;
}

.pawn3 {
    bottom: 20%;
    left: 20%;
}

.pawn4 {
    bottom: 20%;
    right: 20%;
}

.cells {
    position: absolute;
    width: 6.66%;
    height: 6.66%;
    border-collapse: collapse;
    border: 1.5px solid gray;
}

.pawn{
    border-radius: 50%;
    border: 3px solid black;
    width: 30px;
    height: 30px;
    position: absolute;
}

/* Small devices width  min-width 320px*/
@media only screen and (min-width: 320px){
    .pawn {
        width: 15px;
        height: 15px;
        margin: 2px !important;
    }
}
/* Small devices width  min-width 375px*/
@media only screen and (min-width: 375px) {
    .pawn {
        width: 18px;
        height: 18px;
        margin: 3px !important;
    }
}

/* Small devices width  min-width 425px*/
@media only screen and (min-width: 425px) {
    .pawn {
        width: 20px;
        height: 20px;
    }
}

/* Small devices width  min-width 520px*/
@media only screen and (min-width: 520px) {
    .pawn {
        width: 25px;
        height: 25px;
        margin: 4px !important;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .gameContainer{
        position: relative;
        width: 100%;
    }
    .game {
        width: auto;
        height: auto;
    }
    .game::before{
        float: left;
        padding-top: 100%;
        content: "";
    }
    .game div{
        float:left;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .game {
        width: 500px;
        height: 500px;
    }

    .pawn {
        margin: 4px !important;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .game {
        width: 700px;
        height: 700px;
    }
    .pawn {
        height: 30px;
        width: 30px;
        margin: 8px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ...
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ...
}
